* {
  box-sizing: border-box;
}

input[type='text'] {
	border-right:0px;
	outline:none;
}

input[type='text']:focus {
	outline:none;
	box-shadow:none;
	border-color:#D3D3D3;
}

button.input-group-text{
	background:white;
	outline:none;
	border-radius:0 4px 4px 0;
	border-left-color:white;
}


#main{
	margin-top:2px;
	font-size:40px;
	color:#FFF;
}

.fa-youtube-play{
	margin-top:2px;
	font-size:40px;
	color:#FF0000;
}

.navbar-brand{
	font-size:34px;
}

.carousel-control-prev,.carousel-control-next{
	width:20px;
	height:50px;
	background:black;
	margin-top:40px;
}

nav{
	background: rgba(255,0,0);
}


.card{
	margin-top:20px;
	margin-bottom:20px;
	max-width:100%;
	animation: mymove 2s ;

}

@keyframes mymove {
  from {top: 500px}
  to {top: 0px}
}

.button{
	background:white;
	border:0;
	outline:none;
}

.card
{
  position: relative;
}
.card:before, .card:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.card:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
